<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}WePynaire Formulaires & HTMX{% endblock title %}</title>

    <script defer src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    {% block head_styles %}{% endblock head_styles %}
    {% block head_scripts %}{% endblock head_scripts %}
</head>
<body>
    {% block content %}{% endblock content %}

    {% block body_scripts %}{% endblock body_scripts %}
</body>
</html>